<footer id="footer">
      <br><br>
      <hr style='border: solid 0.01px orange; margin-bottom: 5%;'>
      <nav class='footer_2'>
        <ul >
          <li>
            <a href='#'>????</a> <li>·</li>
          </li>
          <li>
            <a href='#'>????</a> <li>·</li>
          </li>
          <li>
            <a href="#">??????</a> <li>·</li>
          </li>
          <li>
            <a href="#" id="pink">????????</a> <br> 
          </li>
          <li>
            <a href="#">· ??????????????</a> <li>·</li>
          </li>
          <li>
            <a href="#">?????? ????</a> 
          </li>
          <li></li>
        </ul>
      </nav>
      <div class="brand_family">
        <nav class="brand">
          <ul>
            <li class="li_1">
              <a href="#"><img src="/img/btn_happypoint.png"><br>
               <span>?????</span>
             </a>
            </li>
            <li class="li_2">
              <a href="#"><img src="/img/btn_ccm.gif"><br>
               <span>Consumer Centered Management</span>
             </a>
            </li>
            <li class="li_3">
              <a href="#"><img src="/img/btn_spc_story.png"><br>
               <span>SPC ??? <br>???</span>
              </a>
            </li>
            <li class="li_4">
              <a href="#"><img src="/img/btn_norton.gif">
               <span>Powered by Symantec</span>
              </a>
            </li>
            <li class="li_5">
              <a href="#"><img src="/img/btn_hm.png"><br>
               <span>????</span>
              </a>
            </li>
            <li class="li_6">
              <a href="#"><img src="/img/btn_ksa.gif"><br>
               <span>????? ?????</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>  
      <section>
        <div class="tel">
          <a href="#"><button class="button_2">????</button></a>
          <a href="#"><img src="img/call.gif" > 080-555-3131</a>
        
         <select name = 'family site' class="select">
          <option value="FAMILY SITE">FAMILY SITE</option>
          <option value="??? ??">??? ??</option>
          <option value="SPC?????">SPC?????</option>
          <option value="SPC MAGAZINE">SPC MAGAZINE</option>
          <option value="BR???">BR???</option>
          <option value="???????">???????</option>
          <option value="????">????</option>
          <option value="??">??</option>
          <option value="?????">?????</option>
          <option value="?????">?????</option>
         </select> <br>
        </div>
         <nav class="footer_2">
           <ul class="last_footer">
             <li>
               <a href="#">??? ???? : 303-81-09535</a> &nbsp;&nbsp;
             </li>
             <li>
               <a href="#">?????(?) ???? ???</a> <br>
             </li>
             <li>
               <a href="#">????? ??? ????? 2620</a> &nbsp;&nbsp;
             </li>
             <li>
               <a href="#">????????? : ??? </a>
             </li>
           </ul>
         </nav>
      </section>
    </footer>