@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/** 공통 */
* { 
	box-sizing: border-box;
	color: #000000;
	font-family: 'Noto Sans KR', sans-serif;
}

html, body {
	height:100%;
	color:#000000;
	font-size:14px;
	line-height: 1.5;
	margin:0;
	letter-spacing:-0.03em;
	overflow:auto;
}

body {
	display:block;
}

.content {
	padding: 10px 40px 30px 40px;
	width: 1200px;
	position: relative;
}

/**안내*/


.explain {
	height: 150px;
	text-align: center;
}
/**회원정보 입력*/



input[type="text"],
input[type="password"] {
	background:#ffffff;
    border-left:none;
	border-right:none;
	border-top:none;
    height:32px;
    line-height:30px;
	width: 300px;
}


.content input[type="text"],
.content input[type="password"] {
    height:38px;
    font-size:11px;
    line-height:18px;
    vertical-align:top;
}


.tip {
	font-size:10px;
	color: gray;
}

.wrap {
	padding: 20px 0 30px;
}

.wrap2 {
	padding: 20px 0 30px;
}

.wrap3 {
	padding: 10px 0 30px;
}

.wrap4 {
	padding: 20px 0 80px;
}

.box1{
	float: left;
}
			
.box2{
	float: right;
	height: 20px;
	width :calc(100% - 30%);
}

.wrap:after {
	clear: none;
	content:'';
	display:'block';
}

/**개인정보 동의*/

.check {
	height:50px;
	padding: 10px 0px 160px 0px;
	box-sizing: border-box;
	border: 1px solid #d6d6d6;
	border-left:none;
	border-right:none;
}



ul {
	list-style: none;
	padding: 40px 0px;
    margin: 0;
}



ul li  {
	font-size:12px;
	color: #a3a3a3;
	text-align: left;
	text-indent: -6px;
}

/** 취소, 가입 버튼*/

.btn {
    position: relative;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}


.btn-group {
	text-align:center;
	padding: 40px 50px 40px 50px;
}

.btn-group:before, .btn-group:after {
    content: "";
    display: table;
}

.btn.normal {
    color: #fff;
    border-color: #888888;
    background-color: #888888;
}

.btn.medium {
    padding: 0 5px;
    height: 48px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 400;
}

.btn, .btn-arrow {
    display: inline-block;
}


.btn-group.half .btn + .btn {
    margin-left: 12px;
}

.btn-group.half .btn {
    float: left;
    width: calc(50% - 6px);
}

.btn.accent {
    color: #fff;
    border-color: #FE4F27;
    background-color: #FE4F27;
}

.btn.medium {
    padding: 0 5px;
    height: 48px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 400;
}

.btn, .btn-arrow {
    display: inline-block;
}